/* Main Styling */
html {
    position: relative;
    min-height:100%;
}

body {
    background: #888;
    margin: 0 0 45px;
}

.content {
    width: 90%;
    margin: 50px auto 50px auto;
    padding: 10px;
    background: #FFF;
}

#mlinks a:hover {
    background: #FFBF40;
    color: #222;
}

#essay {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.pad { padding:20px; }

div.pad img {
    border: 1px solid #444; 
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;
}

.footer {
    margin-top: 15px;
    background: #FFF;
    height: 45px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.footer p {
    padding-left: 20px;
}

/* Schedule */
.schedule { text-align: center; }

.pure-button-secondary { background: rgb(202, 60, 60); }

.schedule table {
    background: #FFF;
    font-family: Verdana, Geneva, sans-serif;
    max-width: 960px;
    min-height: 484px;
    margin-left: auto;
    margin-right: auto;
}

.schedule .ise { background: #f5b53d; }

.schedule .pro { background: #de575b; }

.schedule .bc { background: #f2c4da; }

.schedule .illc { background: #a4bfe0; }

.schedule .illf { background: #faef59; }

.schedule .tte { background: #2478b3; }

.schedule .ppl { background: #bfafcb; }

.schedule .gre { background: #c2d461; }
